body {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #FAFAFA;
}
.post, .comment {
    background: #efefef;
    padding: 20px;
    margin: 2px;
}

.post {
    border: 2px solid #FAFAFA;
    border-radius: 5px;
}

.comment {
    clear: both;
    border-top: 2px solid #a2A2A2;
}

.footer {
    padding: 10px;
}

.media a {
    text-decoration: none;
}

.content-title {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.start-new-btn {
    position: fixed;
    bottom: 75px;
    right: 50px;
}
