body {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #FAFAFA;
}
.post, .comment {
    background: #efefef;
    padding: 20px;
}

.post {
    border: 2px solid #FAFAFA;
    margin: 2px;
}

.comment {
    clear: both;
    border: 1px solid #A2A2A2;
    margin: 0px;
}

.footer {
    padding: 10px;
}

.media a {
    text-decoration: none;
}

.content-title {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.start-new-btn {
    position: fixed;
    bottom: 55px;
    right: 25px;
    z-index: 1;
}
