body {
    padding-top: 70px;
    padding-bottom: 70px;
}
.post {
    background: #efefef;
    border: 2px solid #ffffff;
    padding: 20px;
    margin: 2px;
    border-radius: 5px;
}

#post-content {
    background: #FFFFFF;
    padding: 10px 5px 10px 20px;
    margin-left: 5px;
    border-radius: 5px;
}

.footer {
    padding: 10px;
}

.navbar-form[input] {
    background: #ffffff;
}
