<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Marioshoni Forum{% block title %}{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav-content">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/forum/">Marioshoni Forum</a>
                </div>
                <div class="collapse navbar-collapse" id="mynav-content">
                    <ul class="nav navbar-nav">
                        <li id="home">
                            <a href="/forum/">Home</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a href="href#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{ user.username }} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'forum:edit_profile' pk=user.pk%}"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a></li>
                                    <li><a href="{% url 'auth_logout' %}?next=/forum/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <form role="form" action="/accounts/login/" class="navbar-form navbar-right" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input class="form-control" id="id_username" maxlength="254" name="username" type="text" required placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="id_password" name="password" type="password" placeholder="Password">
                                </div>
                                <button type="submit" value="Login" class="btn btn-success">Sign in</button>
                                | <a href="{% url 'registration_register' %}" class="btn btn-primary">Register</a>
                            </form>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">                
                <div class="content">
                    {% block content %}
                        
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer class="footer navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <span><a href="/forum/">Home</a></span>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/forum.js' %}"></script>
</html>
