{% extends "forum/base.html" %}
{% load staticfiles %}

{% block title %}
    | {{ user.username }} - Edit Profile
{% endblock title %}

{% block content %}
    {% if edit_success %}
        <div class="alert alert-success alert-dismissable col-xs-12 col-sm-6 col-sm-offset-3" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Profile successfully updated. <span class="glyphicon glyphicon-ok"></span>
        </div>
    {% endif %}
    <div class="col-xs-12 page-header">
        <h1>Profile Page</h1>
    </div>
    <div class="col-xs-12 col-sm-4 pull-right thumbnail">
        {% if img %}
            <a href="/media/{{ user.userprofile.avatar.name }}">
                <img src="{{ img }}">
            </a>
            <div class="caption">
                <h4>{{ user.username }} | <small>Profile</small></h4>
            </div>
        {% else %}
            <span class="glyphicon glyphicon-user"></span>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <div class="col-xs-12 page-header">
            <h1>Edit your profile</h1>
        </div>
        <h4 class="page-header">
            Change your profile picture
        </h4>
        <form 
            method="post"
            action="{% url 'forum:edit_profile' pk=user.pk %}" 
            enctype="multipart/form-data"
            class="form-horizontal" 
            role="form"
            >

            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger">Encountered an error while processing your user profile. Please try again.</div>
            {% endif %}
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-2">
                        <label for="id_avatar" class="control-label">Avatar:</label>
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <input type="file" name="avatar" id="id_avatar">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-2 pull-left">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
