{% extends "forum/base.html" %}
{% load staticfiles %}

{% block title %}
    | {{ user.username }} - Edit Profile
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="col-xs-12 page-header">
            <h1><span class="content-title">Profile Page</span><br><small> Edit your profile.</small></h1>
        </div>
        {% if not get %}
            {% if not edit_success %}
                <div class="alert alert-danger alert-dismissable col-xs-12 col-sm-6 col-sm-offset-3" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span class="glyphicon glyphicon-remove"></span> <strong>Error.</strong> Profile not updated.
                    {% if info %}
                        <br>
                        <span>{{ info }}</span>
                    {% endif %}
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissable col-xs-12 col-sm-6 col-sm-offset-3" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Profile successfully updated. <span class="glyphicon glyphicon-ok"></span>
                </div>
            {% endif %}
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-4 pull-right thumbnail">
                {% if user.userprofile.avatar %}
                    <a href="{{ user.userprofile.get_avatar }}">
                        <img src="{{ user.userprofile.get_thumb_two }}">
                    </a>
                    <div class="caption">
                        <h4>{{ user.username }} | <small>Profile</small></h4>
                    </div>
                {% else %}
                    <span class="glyphicon glyphicon-user"></span>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-2">
                <h4 class="page-header content-title">
                    Change your profile picture
                </h4>
                <form 
                    method="post"
                    action="{% url 'forum:edit_profile' pk=user.pk %}" 
                    enctype="multipart/form-data"
                    role="form"
                    >

                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger">Encountered an error while processing your user profile. Please try again.</div>
                    {% endif %}
                    <div class="form-group">
                        <label for="id_avatar" class="control-label">Avatar:</label>
                        <input type="file" name="avatar" id="id_avatar">
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="pull-left">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
