{% extends "forum/base.html" %}
{% load staticfiles %}

{% block title %}
    | Editing {{ forum.title }}
{% endblock title %}

{% block content %}
    <div class="container col-md-8 col-md-offset-2">
        <br>
        <form role="form" method="post" action="{% url 'forum:edit_forum' pk=forum.pk %}" id="form-content" class="threadforum">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>

        <div class="pull-left" style="clear: both">
            <a href="{% url 'forum:index' %}">&laquo; Back to forums.</a>
        </div>
    </div>
{% endblock content %}
