{% extends "forum/base.html" %}

{% load staticfiles %}

{% if thread %}
    {% block title %}
        | {{ thread.title }}
    {% endblock title %}
{% endif %}

{% block content %}
    {% if thread %}
        <div class="page-header">
            <h1>
                Thoughts about {{ thread.title }}
            </h1>
            <br>
            {% if user.is_authenticated %}
                <div class="pull-right">
                    <a href="{% url 'forum:add_post' pk=thread.pk %}" class="glyphicon glyphicon-plus pull-right btn btn-sm btn-primary"> Say something.</a>
                </div>
            {% endif %}
            <br>
        </div>
    {% endif %}
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        {% if posts %}
            {% for post in posts %}
                <div class="post">
                    <h2 class="page-header">{{ post.title }}</h2>
                    <span>| by {{ post.creator }}</span>
                    <p>
                        {{ post.body | linebreaks }}
                    </p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% if posts %}
        <div class="row" style="clear: both">
            <span class="step-links">
                <ul class="pager">
                    <div class="col-xs-4">
                        {% if posts.has_previous %}
                            <li class="previous">
                                <a href="?page={{ posts.previous_page_number }}">&larr; Newer</a>
                            </li>
                        {% endif %}
                    </div>
                    <div class="col-xs-4">
                        <li class="active">
                            <a href="#">{{ posts.number }} / {{ posts.paginator.num_pages }}</a>
                        </li>
                    </div>
                    <div class="col-xs-4">
                        {% if posts.has_next %}
                            <li class="next">
                                <a href="?page={{ posts.next_page_number }}">Older &rarr;</a>
                            </li>
                        {% endif %}
                    </div>
                </ul>
            </span>
        </div>
    {% endif %}
{% endblock content %}
